.container{
    display: flex;
    justify-content: space-around;
}
header img{
    width: 100%; 
}
header div{
    font-size: 25px;
    text-align: center;
    height: 50%;
    width: 150px;
    border-radius: 50px;
    margin: 40px;
    background-color:cadetblue;
}