.topo{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-image: url(casamento.jpg);
    height: 800px;
}
.logo{height: 90px;
display: flex;}

.margen{
    padding: 20px;
    color: white;}
.texto1{
background-color:azure;
padding: 10px;
border-style:double;
}
.menu{
display: flex;
justify-content: space-around;
align-items: center;
width: 800px;
}
.caixa{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.imagens {
    justify-content: space-around;
    display: flex; 
 margin-top: 100px;

}
.imgcard{
    width:300px; 
}
.imagenss{
    font-size: 30px;
    display: flex; 
    text-align: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    
}
